# General
__pycache__/
*.pyc
.DS_Store
*.env
.venv
venv*/
venv
.vscode
*.ipynb
env/
venv/
!notebooks/jupyter/.gitkeep
.python-version
.mypy_cache
.ruff_cache
.pytest_cache
iframe_figures/
.idea
.coverage
.scannerwork
htmlcov
**/.ipynb_checkpoints
*.swp
*.http
.coverage.*
*_tests.csv
.dccache
*rome.json
**/node_modules/*
.cursorignore
darts_logs/
custom_imports/*.csv
custom_imports/*/*.csv
cache/
lightning_logs/
*/mocked_path
*.pem
gh*
*.pub
